# This is Git's per-user configuration file.
[user]
	name = alexandr.fufaev
	email = alexander.fufaev@quantron-systems.com
[core]
	editor = nvim
[pretty]
    my = format:%C(yellow)%h%C(reset) | %C(dim green)%cd%C(reset) | %C(green)%cr%C(reset) | %C(cyan)%s%C(red)%d%C(red)%C(reset) %C(blue)[%an]%C(reset)
[format]
    pretty = my
